<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let item of currentItems">

      <ion-item (click)="openItem(item)">
        <p>{{item.dataAgendada}}</p>
        <p>{{item.materiaisColeta}}</p>
        <p>{{item.observacoesUsuario}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>

      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Cancelar
        </button>

      </ion-item-options>

    </ion-item-sliding>
    

    <ion-select [(ngModel)]="toppings" multiple="true" #mySelect [hidden]='hideMe' (ionChange)="onChange($event)">
      <ion-option>Usuario 1 - Rua Ministro Jorge Vargas, Castelo</ion-option>
      <ion-option>Usuario 2 - Rua Julio de Castilho, Betania</ion-option>
      <ion-option>Usuario 3 - Avenida do Contorno, Savassi</ion-option>
    </ion-select>

    <button ion-button full color="danger" (click)="showTodayRouteModal()">Calcular Rota </button>


  </ion-list>
</ion-content>