page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  .back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button
  {
    display: none;
  }
}
